.intro div>h2{
	float: left;
	text-align: center;
	margin-right: 1%;
	
}
.intro .ch{
		margin-left: 25%;
}
.intro .ch a{
		color:white;
		text-decoration: none;
}
.albums{
    background-color: #292929;
}
.album-wrapper{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 5%;
    padding-bottom: 5%;
    
    
}
.single-album{
    width: 32%;
    margin-bottom: 4%;
    position: relative;
}
.album-wrapper > div img{
    width: 100%;
}
.album-title{
    position: absolute;
    width: 100%;
    top: 45%;
}
.album-title h2{
    text-align: center;
    font-size: 38px;
    font-weight: 700;
}
.album-title p{
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    margin-top: 2%;
    color: #CE0000;
    transition: all ease 1s;
}
/* .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all ease 1s;
    
} */
.single-album:hover {
    opacity: 0.4;
    cursor: pointer;
    transition: all ease 1s
}
.single-album:hover .album-title p{
    color: white;
}
.fancybox-thumbs {
    top: auto;
    width: auto;
    bottom: 0;
    left: 0;
    right : 0;
    height: 95px;
    padding: 10px 10px 5px 10px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.3);
}
.fancybox-show-thumbs .fancybox-inner {
    right: 0;
    bottom: 95px;
  }