.main-nav{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../images/shop-header\ \(2\).jpg);
}
.intro h1{
    margin-left: 17%;
}
.intro div>h2{
    float: left;
    text-align: center;
    margin-right: 1%;
    
}
.intro .ch{
        margin-left: 25%;
}
.intro .ch a{
        color:white;
        text-decoration: none;
}
.content{
    width: 98%;
    box-sizing: border-box;
    padding: 7% 3% 1% 3%;
    display: flex;
}

.content-area{
    width: 60%;
    padding: 0% 2% 0% 0%;
}
.sorting-wrapper{
    padding: 0% 0% 3% 0%;
    border-bottom: 1px solid #191919;
    margin-bottom: 3%;
}
.select-selected{
    padding: 3%;
    border: 1px solid #898989;
    outline: none;
}
.select-selected .ui-state-active{
    background-color: transparent;
}
.products{
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.products .product{
    width: 27.3%;
    margin: 0% 6% 4% 0%;
}
.products .product img{
    width:100%;
}
.products .product img:hover{
    transform: scale(1.2);
}
.products .product a{
    text-decoration: none;
    color: white;
    text-align: center ;
    font-size: 18px;
    font-weight: 800; 
    margin: 3% 0% 3% 0%;  
}
.products .product h3{
    padding: 7% 0% 2% 0%;
}
.products .product{
    color: #CE0000;
    text-align: center;
    font-size: 17px;
    font-weight: 800;

}



.widget-area{
    width: 40%;
}
.widget-area >div{
    background-color: #191919;
    padding: 10% 10% 0 10% ;
    margin-bottom: 10%;
}
.search-div input{
    display: inline-block;
    width: 100%;
    padding: 8%;
    border: 1px solid #898989;
    background-color: transparent;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20%;
    outline: none;
}
.search-div{
    position: relative;
}
.search-div i{
    font-size: 18px;
    color: #858585;
    position: absolute;
    top: 44%;
    right: 6%;
}
.widget-area >div >div{
    border-bottom: 2px solid #CE0000;
}
.widget-h2{
    margin-bottom: 10%;
}
.range-slider.ui-widget.ui-widget-content {
    background: none;
    border: none;
}
.range-slider .ui-slider-handle{
    background-color: #CE0000;
    width: 15px;
    height: 15px;
    border: none;
    border-radius: 50%;
    outline: none;
}
.range-slider .ui-slider-range{
    border: none;
    background-color: #CE0000;
    height: 5px;
}
.range-slider .ui-slider{
    background-color: black;
    
}
.range-slider .ui-slider-horizontal{
    background-color: black;
    
}
.filter-by-price .price-label{
    color: #898989;
    font-size: 17px;
    font-weight: 600;
    margin-top: 4%;
}
.filter-by-price .price-label input{
    color: #CE0000;
    font-size: 17px;
    font-weight: 600;
    border: none;
    background-color: transparent;
}

.filter-by-color ul, .filter-by-size ul, .price-label{
    margin-bottom: 9%;
}
.filter-by-color ul li, .filter-by-size ul li{
    list-style: none;
}
.filter-by-color ul li a, .filter-by-size ul li a{
    text-decoration: none;
    color: #898989;
    display: flex;
    /* justify-content: space-between; */
    padding-bottom: 4%;
}
.color-name{
    padding-left: 3%;
}
.color-label{
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: black;
    border: 1.5px solid #858585;
}
.filter-by-color ul li:nth-child(2) .color-label{
    background-color: blue;
}
.filter-by-color ul li:nth-child(3) .color-label{
    background-color: red;
}
.filter-by-color ul li:nth-child(4) .color-label{
    background-color: white;
}
.filter-by-color ul li:nth-child(5) .color-label{
    background-color: yellow;
}
.color-count{
    text-align: center;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    min-width: 25px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 35px;
    border: 1px solid;
    margin-left: auto;
}
.attr-label{
    width: 14px;
    height: 14px;
    border: 1.5px solid #858585;
    margin-right: 5%;
    margin-top: 1.5px;
}
